<h1>Depoimentos</h1>
<hr>
<section id="testimonies">
    <div class="card text-dark mb-3">
        <h5 class="card-header">Vitor de Aguiar <small><small>26/07/2022</small></small></h5>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quae tempora dolore vel sit earum magnam beatae? Debitis dolores, molestias quia itaque officia eum perspiciatis, repudiandae eos dignissimos nisi asperiores.</div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">Vitor de Aguiar <small><small>26/07/2022</small></small></h5>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quae tempora dolore vel sit earum magnam beatae? Debitis dolores, molestias quia itaque officia eum perspiciatis, repudiandae eos dignissimos nisi asperiores.</div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">Vitor de Aguiar <small><small>26/07/2022</small></small></h5>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quae tempora dolore vel sit earum magnam beatae? Debitis dolores, molestias quia itaque officia eum perspiciatis, repudiandae eos dignissimos nisi asperiores.</div>
    </div>
</section>

<hr>

<section id="form">
    <h3>Envie seu depoimento</h3>

    <form method="post">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome" required>
        </div>
        <div class="form-group">
            <label>Mensagem</label>
            <textarea class="form-control" name="mensagem" rows="5" required></textarea>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</section>